# Chet's BASh RC
# --------------

# STANDARD BASHRC ===
# interactive check
case $- in
	*i*) ;;
	  *) return ;;
esac

# VARIABLES ===
bash_config_dir="/home/chatranga/Configs/Shells/bash/";

# SOURCES ===
source $bash_config_dir/aliases.rc;
source $bash_config_dir/envvars.rc;
source $bash_config_dir/colors.rc;
source $bash_config_dir/usrfunc.rc;
source $bash_config_dir/rclopts.rc;
source $bash_config_dir/rclfunc.rc;

# PROMPT SETUP ===
PS1="\[${col_b_yellow}\]\u@\h\[${col_reset}\] \$(last_command_status) \[${col_b_cyan}\]\W\[${col_reset}\] \[${col_b_white}\]\$>\[${col_reset}\] ";
PS2="\[${col_b_white}\]->\[${col_reset}\] ";
PS3="\[${col_b_white}\]?>\[${col_reset}\] ";
PS4="\[${col_b_green}\]DEBUG:\[${col_reset}\] ";
